@model GoogleTrustedStoresCartItemViewModel

<span class="gts-item">
	<span class="gts-i-name">@Model.ProductName</span>
	<span class="gts-i-price">@Model.Price</span>
	<span class="gts-i-quantity">@Model.Quantity</span>
	<span class="gts-i-prodsearch-id">@Model.ProductSearchId</span>
	<span class="gts-i-prodsearch-store-id">@Model.ProductSearchStoreId</span>
	<span class="gts-i-prodsearch-country">@Model.Country</span>
	<span class="gts-i-prodsearch-language">@Model.Language</span>
</span>